* {
    box-sizing: border-box;
}

body{
    background-image: url("https://i.pinimg.com/originals/8d/3a/06/8d3a06b71530a29b8c166f3f5d6c9de0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.main{

    float:left;
    padding: 10px;
}

.menu{

    width: 50%;
    margin: auto;
    padding: 10px;
    background-color: #fff;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.registerbutton {
    background-color: dodgerblue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbutton:hover {
    opacity: 1;
}




.map{

    width: 75%;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}






.map-responsive{

    overflow:hidden;

    padding-bottom:56%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}

.menuAbout{
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.aboutImg{
    float: right;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.aboutImg img{
    align-self: center;
    max-width: 100%;
    mix-blend-mode: multiply;
}


.dropbtn {
    background-color: #202529;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
    display: block;
}